input.red, .die:nth-of-type(3) {
   background: red;
}
input.yellow, .die:nth-of-type(4) {
   background: yellow;
}
input.green, .die:nth-of-type(5) {
   background: green;
}
input.blue,
.die:nth-of-type(6) {
   background: rgb(31, 99, 163);
}

.die {
   font-size: 6rem;
}

input[type=checkbox] {
    display: none;
}   

.red-box, .yellow-box, .green-box, .blue-box {
    color: black;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.red-box {
    background: lightcoral;
    border: 1px solid red;
}

.yellow-box {
    background: lightgoldenrodyellow;
    border: 1px solid yellow;
}

.green-box {
    background: lightgreen;
    border: 1px solid green;
}

.blue-box {
    background: lightskyblue;
    border: 1px solid blue;
}

.fas.fa-lock {
    display: inline-flex; 
    position: relative;
    top: 1.5px;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}

