@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Kelly+Slab|Pompiere&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	align-content: center;
	font-family: 'Open Sans',
    sans-serif;
    background-color: hsl(42, 100%, 91%);
}

h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 4.5rem;
}

h2 {
    font-family: 'Kelly Slab', cursive;
    font-size: 2.4rem;
}

main {
    display: flex;
    flex-direction: column;
}

form {
    border: solid;
    border-radius: 25px;
    background-color: hsl(349, 76%, 85%);
    padding: 1rem;
}

input {
    border-radius: 25px;
    margin-left: 5px;
    padding: 10px;
    font-family: 'Pompiere', cursive;
}

#user-sign-up p {
    margin-left: 5px;
    border-radius: 25px;
    font-family: 'Pompiere', cursive;
}

#user-sign-up button {
    color: rgb(229, 230, 230);
    font-size: 16px;
    padding: 15px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: rgb(210, 20, 20);
    background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 41%, rgb(250, 20, 20) 95%);
    background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 41%, rgb(250, 20, 20) 95%);
    background: -o-linear-gradient(90deg, rgb(210, 20, 20) 41%, rgb(250, 20, 20) 95%);
    background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 41%, rgb(250, 20, 20) 95%);
    background: linear-gradient(0deg, rgb(210, 20, 20) 41%, rgb(250, 20, 20) 95%);
    -webkit-box-shadow: -4px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -4px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         -4px 5px 1px rgba(50, 50, 50, 0.75);
}