@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Kelly+Slab|Pompiere&display=swap');

body {
    background-color: hsl(42, 100%, 91%);

}

h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 4.5rem;
    margin: 0;
}

h2 {
    font-family: 'Kelly Slab', cursive;
    font-size: 2.4rem;
    line-height: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form {
    border: solid;
    border-radius: 25px;
    width: 25%;
    background-color: hsl(349, 76%, 85%);
    padding: 1rem;
}

input {
    border-radius: 25px;
    margin-left: 5px;
    padding: 10px;
    font-size: 3rem;
    font-family: 'Pompiere', cursive;
}

#user-sign-up {
    width: 20%;
}
#user-sign-up p {
    margin-left: 5px;
    border-radius: 25px;
    font-size: 2rem;
    font-family: 'Pompiere', cursive;
    text-align: center;
}

#user-sign-up button {
    color: black;
    font-size: 16px;
    padding: 15px;
    margin-left: 9rem;
    margin-top: 1rem;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    border-radius: 30px;
    background: hsl(349, 76%, 50%);
    transition: all 0.5s;
    
}
#user-sign-up button:hover {
    background-color: hsl(42, 96%, 62%);
}

a {
    background-color: hsl(211, 65%, 40%);
    color: whitesmoke;
    font-size: 24px;
    text-shadow: 1px black;
    padding: 10px;
    box-shadow: 5px 5px 3px 0px rgba(50, 50, 50, 0.75);
    border-radius: 20px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    background-color: hsl(114, 47%, 45%);
}
nav {
    margin: 0 45rem;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}


