.container {
    height: 90%;
    width: 80%;
}

.parent {
    display: grid;
    grid-template-columns: 9fr 1fr 9fr;
    grid-template-rows: 4fr 1fr 4fr 1fr 4fr 1fr 4fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    justify-content: center;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
    align-items: center;
    justify-content: center;
}

.div4 {
    grid-area: 5 / 1 / 6 / 2;
}

.div5 {
    grid-area: 6 / 1 / 7 / 2;
}

.div6 {
    grid-area: 7 / 1 / 8 / 2;
}

.div7 {
    grid-area: 1 / 3 / 2 / 4;
}

.div8 {
    grid-area: 2 / 3 / 3 / 4;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.div10 {
    grid-area: 5 / 3 / 6 / 4;
}

.div11 {
    grid-area: 6 / 3 / 7 / 4;
}

.div12 {
    grid-area: 7 / 3 / 8 / 4;
}
    
.rect-img {
    height: 20%;
    width: 20%;
}

.rect-face {
    height: 100px;
}